.footer {
   padding-top: 80px;
   padding-bottom: 80px;
   color: rgba(var(--color-white-rgba), 0.6);
   background-color: var(--color-ebony);

   &__container {
   }

   &__top {
      display: grid;
      grid-auto-flow: column;
      justify-content: space-between;
      column-gap: 60px;
      margin-bottom: 50px;
   }

   &__momentous {
      max-width: 493px;
   }

   &__logo-social {
      margin-bottom: 20px;
      display: grid;
      grid-auto-flow: column;
      justify-content: start;
      column-gap: 60px;
   }

   &__logo {
      width: 142px;
   }

   &__social-list {
      display: grid;
      grid-auto-flow: column;
      column-gap: 16px;
   }

   &__social-item {
   }

   &__social-link {
      fill: rgba(var(--color-white-rgba), 0.6);
      transition: fill 0.3s ease-in-out;

      &:hover,
      &:focus-visible,
      &:active {
         fill: var(--color-primary);
      }
   }

   &__social-icon {
      width: 24px;
      height: 24px;
   }

   &__descr {
      margin: 0;
      @include fs-lh(14px, 21px);
   }

   &__feedback {
      max-width: 495px;
   }

   &__feedback-title {
      margin: 0;
      margin-bottom: 24px;
      @include fs-lh(24px, 36px);
      color: var(--color-white);
   }

   &__feedback-form {
      display: flex;
      margin-bottom: 15px;
   }

   &__feedback-field {
      width: 100%;

      input {
         background: rgba(var(--color-white-rgba), 0.12);
         border-color: rgba(var(--color-white-rgba), 0.2);
         border-top-right-radius: 0;
         border-bottom-right-radius: 0;
         color: var(--color-white);

         &::placeholder {
            color: rgba(var(--color-white-rgba), 0.6);
         }
      }
   }

   &__feedback-btn {
      padding: 0 25px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      font-size: 14px;
   }

   &__feedback-descr {
      margin: 0;
      @include fs-lh(12px, 18px);
   }

   &__bottom {
      display: grid;
      grid-auto-flow: column;
      justify-content: start;
      column-gap: 125px;
      margin-bottom: 50px;
   }

   &__contacts {
   }

   &__block-title {
      margin: 0;
      margin-bottom: 18px;
      @include fs-lh(16px, 24px);
      letter-spacing: 1px;
      text-transform: uppercase;
      color: var(--color-white);
   }

   &__contacts-list {
   }

   &__contacts-item {
      margin-bottom: 14px;
   }

   &__contacts-title {
      color: var(--color-white);
   }

   &__contacts-name {
      font-style: normal;
   }

   &__contacts-link {
      &:hover,
      &:focus-visible,
      &:active {
         color: var(--color-primary);
      }
   }

   &__nav-block {
      display: grid;
      grid-auto-flow: column;
      justify-content: start;
      column-gap: 125px;
   }

   &__nav {
   }

   &__nav-list {
   }

   &__nav-item {
      margin-bottom: 14px;
   }

   &__nav-link {
      &:hover,
      &:focus-visible,
      &:active {
         color: var(--color-primary);
      }
   }

   &__copyright {
      @include fs-lh(12px, 18px);
      color: var(--color-white);

      span {
         padding-left: 22px;
         background-image: url('@img/heart.svg');
         background-position: 2px center;
         background-size: 16px 16px;
         background-repeat: no-repeat;
      }
   }
}

.to-top {
   position: fixed;
   right: calc((100% - 1230px) / 2);
   bottom: 80px;
   z-index: 1000;
   transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

   &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      width: 40px;
      height: 40px;
      background: var(--color-primary);
      transition: background-color 0.3s ease-in-out;

      svg {
         width: 24px;
         height: 24px;
         object-fit: cover;
      }

      &:hover {
         background-color: var(--color-active);
      }
   }
}
