// .footer {
//    padding-top: 80px;
//    padding-bottom: 80px;
//    color: rgba(var(--color-white-rgba), 0.6);
//    background-color: var(--color-ebony);

//    &__container {
//    }

//    &__left {
//       grid-column: 7 span;
//    }

//    &__top {
//       @include flex-v-center;
//       margin-bottom: 22px;
//    }

//    &__logo {
//       margin-right: 60px;
//    }

//    &__social {
//    }

//    &__descr {
//       margin: 0;
//       width: 100%;
//       max-width: 495px;
//       @include fs-lh(14px, 21px);
//    }

//    &__form {
//       grid-column: 5 span;
//    }

//    &__address {
//       grid-column: 7 span;
//    }

//    &__nav {
//       grid-column: 5 span;
//    }

//    &__copyright {
//       grid-column: 12 span;
//       padding-top: 30px;
//       @include fs-lh(12px, 18px);
//       color: var(--color-white);

//       span {
//          padding-left: 22px;
//          background-image: url('@img/heart.svg');
//          background-position: 2px center;
//          background-size: 16px 16px;
//          background-repeat: no-repeat;
//       }
//    }
// }

// .social {
//    display: flex;
//    align-items: center;

//    &__item {
//       &:not(:last-child) {
//          margin-right: 12px;
//       }
//    }

//    &__link {
//       display: block;
//       width: 24px;
//       height: 24px;

//       svg {
//          display: block;
//          width: 100%;
//          height: 100%;
//          fill: var(--color-white);
//          object-fit: cover;
//          opacity: 0.6;
//          transition: opacity 0.3s ease-in-out;
//       }
//    }
// }

// .footer-form {
//    &__title {
//       margin: 0;
//       margin-bottom: 24px;
//       font-weight: 700;
//       @include fs-lh(24px, 36px);
//       color: var(--color-white);
//    }

//    &__items {
//       display: flex;
//       margin-bottom: 16px;
//    }

//    .form-field {
//       margin: 0;

//       .form-field__input {
//          border: 1px solid #d7dadd;
//          border-top-right-radius: 0;
//          border-bottom-right-radius: 0;
//          border-color: rgba(var(--color-white-rgba), 0.2);
//          background-color: rgba(var(--color-white-rgba), 0.12);
//       }
//    }

//    &__btn {
//       border-top-left-radius: 0;
//       border-bottom-left-radius: 0;
//       padding: 11px 19px;
//       letter-spacing: normal;
//    }

//    &__descr {
//       margin: 0;
//       @include fs-lh(12px, 18px);
//    }
// }

// .footer-address {
//    padding-top: 20px;
//    font-style: normal;
//    &__title {
//    }

//    &__item {
//       display: block;
//       @include fs-lh(16px, 26px);

//       &:not(:last-child) {
//          margin-bottom: 4px;
//       }
//    }

//    &__name {
//       color: var(--color-white);
//    }
// }
// .footer-title {
//    margin: 0;
//    margin-bottom: 13px;
//    font-weight: 700;
//    @include fs-lh(16px, 24px);
//    color: var(--color-white);
//    letter-spacing: 1px;
//    text-transform: uppercase;
// }
// .footer-nav {
//    display: grid;
//    grid-auto-flow: column;
//    padding-top: 20px;

//    &__col {
//       &:not(:last-child) {
//          margin-right: 125px;
//       }
//    }

//    &__title {
//    }

//    &__list {
//    }

//    &__item {
//       &:not(:last-child) {
//          margin-bottom: 4px;
//       }
//    }

//    &__link {
//       @include fs-lh(16px, 26px);
//    }
// }

// .to-top {
//    position: fixed;
//    z-index: 10;
//    right: 20px;
//    bottom: 20px;
//    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

//    &__btn {
//       display: flex;
//       align-items: flex-end;
//       gap: 16px;
//    }

//    &__text {
//       flex: none;
//       color: var(--color-primary);
//       text-shadow: 0px 0px 20px var(--color-primary);
//       @include fs-lh(14px, 21px);
//       text-transform: uppercase;
//    }

//    &__icon {
//       display: inline-flex;
//       align-items: center;
//       justify-content: center;
//       width: 40px;
//       height: 40px;
//       background-color: var(--color-primary);
//       border-radius: 4px;
//       transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

//       svg {
//          width: 24px;
//          height: 24px;
//          fill: var(--color-white);
//       }
//    }
// }

.footer {
   padding-top: 80px;
   padding-bottom: 80px;
   color: rgba(var(--color-white-rgba), 0.6);
   background-color: var(--color-ebony);

   &__container {
   }

   &__top {
      display: grid;
      grid-auto-flow: column;
      justify-content: space-between;
      column-gap: 60px;
      margin-bottom: 60px;
   }

   &__momentous {
      max-width: 493px;
   }

   &__logo-social {
      display: grid;
      grid-auto-flow: column;
      justify-content: start;
      column-gap: 60px;
   }

   &__logo {
      width: 142px;
   }

   &__social-list {
      display: grid;
      grid-auto-flow: column;
      column-gap: 16px;
   }

   &__social-item {
   }

   &__social-link {
      fill: rgba(var(--color-white-rgba), 0.6);
      transition: fill 0.3s ease-in-out;

      &:hover,
      &:focus-visible,
      &:active {
         fill: var(--color-primary);
      }
   }

   &__social-icon {
      width: 24px;
      height: 24px;
   }

   &__descr {
      margin: 0;
      @include fs-lh(14px, 21px);
   }

   &__feedback {
      max-width: 495px;
      // justify-self: end;
   }

   &__feedback-title {
      margin: 0;
      @include fs-lh(24px, 36px);
      color: var(--color-white);
   }

   &__feedback-form {
      display: flex;
   }

   &__feedback-field {
      width: 100%;

      input {
         background: rgba(var(--color-white-rgba), 0.12);
         border-color: rgba(var(--color-white-rgba), 0.2);
         border-top-right-radius: 0;
         border-bottom-right-radius: 0;
         color: var(--color-white);

         &::placeholder {
            color: rgba(var(--color-white-rgba), 0.6);
         }
      }
   }

   &__feedback-btn {
      padding: 0 25px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      font-size: 14px;
   }

   &__feedback-descr {
      margin: 0;
      @include fs-lh(12px, 18px);
   }

   &__bottom {
      display: grid;
      grid-auto-flow: column;
      justify-content: space-between;
      justify-content: start;
      // column-gap: 125px;
   }

   &__address {
      // display: grid;
   }

   &__address-title {
      margin: 0;
      @include fs-lh(16px, 24px);
      font-style: normal;
      text-transform: uppercase;
      color: var(--color-white);
   }

   &__address-item {
   }

   &__address-name {
      color: var(--color-white);
   }

   &__nav-block {
      display: grid;
      grid-auto-flow: column;
      justify-content: start;
      column-gap: 125px;
   }

   &__nav {
   }

   &__block-title {
      margin: 0;
      @include fs-lh(16px, 24px);
      text-transform: uppercase;
      color: var(--color-white);
   }

   &__nav-list {
   }

   &__nav-item {
   }

   &__nav-link {
   }

   &__copyright {
   }
}
.container {
}
.grid {
}
.logo {
}
.field {
}
.field-default {
}
.vhidden {
}
.btn {
}
.btn-solid-orange {
}
.to-top {
   &__icon {
   }
}
.hidden {
}
