.portfolio {
   position: relative;
   padding-bottom: 98px;

   &__container {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
   }
}

.portfolio-tabs-nav {
   width: 100%;
   display: grid;
   grid-template-columns: repeat(auto-fit, 230px);
   justify-content: center;
   column-gap: 20px;
   row-gap: 20px;
   margin-bottom: 61px;
   transform: translateY(-60px);

   &__btn {
      @include flex-column-center;
      justify-content: center;
      border-radius: 4px;
      padding: 15px;
      width: 100%;
      min-height: 154px;
      box-shadow: var(--small-shadow);
      color: var(--color-primary);
      background-color: var(--color-white);
      transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

      &--active {
         color: var(--color-white);
         background-color: var(--color-primary);
         pointer-events: none;

         .portfolio-tabs-nav__text {
            color: var(--color-white);
         }
      }

      &:hover {
         border: 2px solid var(--color-primary);
         .portfolio-tabs-nav__text {
            color: var(--color-ebony);
         }
      }
   }

   &__icon {
      display: block;
      margin-bottom: 16px;
      width: 48px;
      height: 48px;
      color: inherit;
      fill: currentColor;
      object-fit: cover;
      pointer-events: none;
   }

   &__text {
      font-weight: 700;
      @include fs-lh(16px, 26px);
      text-align: center;
      color: #9a9ca5;
      transition: color 0.3s ease-in-out;
      pointer-events: none;
   }
}

.portfolio-tabs {
   width: 100%;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
   column-gap: 30px;
   row-gap: 30px;
   margin-bottom: 60px;

   &__item {
      display: none;

      &--visible {
         display: block;
      }

      &--visible-more {
         display: block !important;
      }
   }
}

.portfolio-more {
   display: inline-flex;
   font-weight: 700;
   @include fs-lh(16px, 26px);
   color: var(--color-gray);
   transition: color 0.3s ease-in-out;

   svg {
      margin-right: 16px;
      width: 24px;
      height: 24px;
      color: inherit;
      fill: currentColor;
      object-fit: cover;
   }

   &:focus-visible {
      color: var(--color-active);
   }

   &:hover {
      color: var(--color-active);
   }
   &:active {
      color: var(--color-active);
   }
}
