<section class="constructive">
   <div class="container grid">
      <div class="constructive__left">
         <img src="@img/constructive-image.jpg" alt="" aria-hidden="true" />
      </div>
      <div class="constructive__right">
         <h2 class="title constructive__title">Constructive decisions</h2>
         <ul class="constructive__list">
            <li class="constructive__item">
               Vitae ultrices ornare eu sed in est quisque duis id.
            </li>
            <li class="constructive__item">
               A fermentum in morbi pretium aliquam adipiscing donec tempus.
            </li>
            <li class="constructive__item">
               Mauris odio pellentesque commodo, diam.
            </li>
            <li class="constructive__item">
               Fermentum vestibulum est fermentum, egestas gravida scelerisque
               quis.
            </li>
            <li class="constructive__item">
               At pharetra libero blandit risus, fringilla sed commodo diam.
            </li>
            <li class="constructive__item">
               Integer ultricies viverra ut enim viverra ut.
            </li>
         </ul>
      </div>
   </div>
</section>
