<section class="contacts-section">
  <div class="container contacts-section__container">
    <h2 class="vhidden">Contacts</h2>
    <form class="contacts-section__form">
      <h2 class="contacts-form__title">A quick way to discuss details</h2>
      <div class="contacts-form__field-block">
        <label class="field field-default">
          <span>Name*</span>
          <input type="text" name="name" placeholder="Your name">
        </label>
        <label class="field field-default">
          <span>Phone*</span>
          <input type="tel" name="phone" placeholder="Your phone number">
        </label>
        <label class="field field-default">
          <span>Email</span>
          <input type="email" name="email" placeholder="Your working email">
        </label>
        <label class="field field-default">
          <span>Message*</span>
          <textarea name="message" rows="2" placeholder="Your message" required=""></textarea>
        </label>
      </div>
      <div class="contacts-section__checkbox-btn">
        <label class="checkbox contacts-section__checkbox">
          <input class="vhidden" type="checkbox">
          <span>I agree to receive communications from Createx Construction
            Bureau.</span>
        </label>
        <button class="btn btn-solid-orange contacts-section__btn" type="submit">Send Request</button>
      </div>
    </form>
  </div>
</section>