<div class="facts-news-bg">
  <section class="facts">
    <div class="container facts__container">
      <h2 class="title facts__title">Some facts and figures</h2>
      <ul class="facts__list">
        <li class="facts__item">
          <div class="facts-element">
            <div class="facts-element__circle facts-element__circle--one-color" data-percent="50">
              <svg class="circle-anim" viewBox="-10 -10 320 320">
                <circle class="progress-bg" r="150" cx="150" cy="150" fill="none" stroke-width="15">
                </circle>
                <circle class="progress" r="150" cx="150" cy="150" fill="none" stroke-width="15">
                </circle>
              </svg>
              <div class="facts-element__value">0</div>
            </div>
            <span class="facts-element__text">Totally satisfied clients</span>
          </div>
        </li>
        <li class="facts__item">
          <div class="facts-element">
            <div class="facts-element__circle facts-element__circle--two-color" data-percentage="true" data-full="10"
              data-value="5">
              <svg class="circle-anim" viewBox="-10 -10 320 320">
                <circle class="progress-bg" r="150" cx="150" cy="150" fill="none" stroke="yellow" stroke-width="15">
                </circle>
                <circle class="progress" r="150" cx="150" cy="150" fill="none" stroke="crimson" stroke-width="15">
                </circle>
              </svg>
              <div class="facts-element__value">0</div>
            </div>
            <span class="facts-element__text">Years of experience</span>
          </div>
        </li>
        <li class="facts__item">
          <div class="facts-element">
            <div class="facts-element__circle facts-element__circle--three-color" data-percentage="true"
              data-full="10000" data-value="5000">
              <svg class="circle-anim" viewBox="-10 -10 320 320">
                <circle class="progress-bg" r="150" cx="150" cy="150" fill="none" stroke="yellow" stroke-width="15">
                </circle>
                <circle class="progress" r="150" cx="150" cy="150" fill="none" stroke="crimson" stroke-width="15">
                </circle>
              </svg>
              <div class="facts-element__value">0</div>
            </div>
            <span class="facts-element__text">Working hours spent</span>
          </div>
        </li>
        <li class="facts__item">
          <div class="facts-element">
            <div class="facts-element__circle facts-element__circle--four-color" data-percent="50">
              <svg class="circle-anim" viewBox="-10 -10 320 320">
                <circle class="progress-bg" r="150" cx="150" cy="150" fill="none" stroke="yellow" stroke-width="15">
                </circle>
                <circle class="progress" r="150" cx="150" cy="150" fill="none" stroke="crimson" stroke-width="15">
                </circle>
              </svg>
              <div class="facts-element__value">0</div>
            </div>
            <span class="facts-element__text">Succeeded projects</span>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section class="news">
    <div class="container news__container">
      <h2 class="title news__title">Recent news</h2>
      <ul class="news__list grid">
        <li class="news__item">
          <article class="news-article">
            <img src="@img/recent-article-1.jpg" alt="article 1" class="news-article__image">
            <div class="news-article__text">
              <h3 class="news-article__title">
                <a href="#" class="news-article__link">How to&nbsp;Build Climate Change-Resilient Infrastructure</a>
              </h3>
              <div class="news-article__meta article-meta">
                <a href="#" class="article-meta__item">Industry News</a>
                <time class="article-meta__item" datetime="2020-06-24 18:55">June 24, 2020</time>
                <span class="article-meta__item article-meta__item--comments">4 comments</span>
              </div>
              <p class="news-article__descr">
                Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel,
                venenatis
                nulla. Integer bibendum turpis convallis enim, nibh convallis...
              </p>
            </div>
          </article>
        </li>
        <li class="news__item">
          <article class="news-article news-article--small">
            <img src="@img/recent-article-2.jpg" alt="article 2" class="news-article__image">
            <div class="news-article__text">
              <h3 class="news-article__title">
                <a href="#" class="news-article__link">How Construction Can Help Itself</a>
              </h3>
              <div class="news-article__meta article-meta">
                <a href="#" class="article-meta__item">Innovation</a>
                <time class="article-meta__item" datetime="2020-06-24 19:00">June 24, 2020</time>
                <span class="article-meta__item article-meta__item--comments">No comments</span>
              </div>
              <p class="news-article__descr">
                Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel,
                venenatis
                nulla. Integer bibendum turpis convallis enim, nibh convallis...
              </p>
            </div>
          </article>
        </li>
        <li class="news__item">
          <article class="news-article news-article--small">
            <img src="@img/recent-article-3.jpg" alt="article 3" class="news-article__image">
            <div class="news-article__text">
              <h3 class="news-article__title">
                <a href="#" class="news-article__link">Types of Flooring Materials</a>
              </h3>
              <div class="news-article__meta article-meta">
                <a href="#" class="article-meta__item">Company News</a>
                <time class="article-meta__item" datetime="2019-12-01 07:15">December 1, 2019</time>
                <span class="article-meta__item article-meta__item--comments">No comments</span>
              </div>
              <p class="news-article__descr">
                Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel,
                venenatis
                nulla. Integer bibendum turpis convallis enim, nibh convallis...
              </p>
            </div>
          </article>
        </li>
      </ul>
      <div class="learn-more">
        <h4 class="learn-more__subtitle">Explore all our news posts</h4>
        <a href="#" class=" btn btn-solid-orange learn-more__btn">View all news</a>
      </div>
    </div>
  </section>
</div>