<footer class="footer">
   <div class="container footer__container">
      <div class="footer__top">
         <div class="footer__momentous">
            <div class="footer__logo-social">
               <a href="#" class="logo footer__logo">
                  <img src="@img/logo-footer.svg" alt="Createx Logo" />
               </a>
               <ul class="footer__social-list">
                  <li class="footer__social-item">
                     <a class="footer__social-link" href="#">
                        <svg class="footer__social-icon">
                           <use xlink:href="@img/sprite.svg#whats"></use></svg
                     ></a>
                  </li>
                  <li class="footer__social-item">
                     <a class="footer__social-link" href="#">
                        <svg class="footer__social-icon">
                           <use xlink:href="@img/sprite.svg#mess"></use></svg
                     ></a>
                  </li>
                  <li class="footer__social-item">
                     <a class="footer__social-link" href="#">
                        <svg class="footer__social-icon">
                           <use xlink:href="img/sprite.svg#facebook"></use></svg
                     ></a>
                  </li>
                  <li class="footer__social-item">
                     <a class="footer__social-link" href="#">
                        <svg class="footer__social-icon">
                           <use xlink:href="img/sprite.svg#twitter"></use></svg
                     ></a>
                  </li>
                  <li class="footer__social-item">
                     <a class="footer__social-link" href="#">
                        <svg class="footer__social-icon">
                           <use xlink:href="img/sprite.svg#youtube"></use></svg
                     ></a>
                  </li>
               </ul>
            </div>
            <p class="footer__descr">
               Createx Construction Bureau has been successfully operating
               in&nbsp;the USA construction market since 2000. We&nbsp;are proud
               to&nbsp;offer you quality construction and exemplary service. Our
               mission is&nbsp;to&nbsp;set the highest standards for
               construction sphere.
            </p>
         </div>
         <form action="#" class="footer__feedback">
            <h3 class="footer__feedback-title">Let’s stay in touch</h3>
            <div class="footer__feedback-form">
               <label class="field field-default footer__feedback-field"
                  ><span class="vhidden">Email</span>
                  <input
                     type="email"
                     placeholder="Your email address"
                     required
                  />
               </label>
               <button
                  class="btn btn-solid-orange footer__feedback-btn"
                  type="submit"
               >
                  Subscribe
               </button>
            </div>
            <p class="footer__feedback-descr">
               *&nbsp;Subscribe to&nbsp;our newsletter to&nbsp;receive
               communications and early updates from Createx Construction
               Bureau.
            </p>
         </form>
      </div>
      <div class="footer__bottom">
         <adress class="footer__contacts">
            <h3 class="footer__block-title">Head Office</h3>
            <ul class="footer__contacts-list">
               <li class="footer__contacts-item">
                  <span class="footer__contacts-title">Address:</span>
                  8502 Preston Rd. Inglewood, New York
               </li>
               <li class="footer__contacts-item">
                  <span class="footer__contacts-title">Call:&nbsp;</span
                  ><a
                     class="footer__contacts-name footer__contacts-link"
                     href="tel:4055550128"
                     >(405) 555-0128</a
                  >
               </li>
               <li class="footer__contacts-item">
                  <span class="footer__contacts-title">Email:&nbsp;</span
                  ><a
                     class="footer__contacts-name footer__contacts-link"
                     href="mailto:hello@createx.com"
                     >hello@createx.com</a
                  >
               </li>
            </ul>
         </adress>
         <nav class="footer__nav-block">
            <div class="footer__nav">
               <h3 class="footer__block-title">Who We Are</h3>
               <ul class="footer__nav-list">
                  <li class="footer__nav-item">
                     <a class="footer__nav-link" href="./about.html"
                        >About Us</a
                     >
                  </li>
                  <li class="footer__nav-item">
                     <a class="footer__nav-link" href="./positions.html"
                        >Available Positions</a
                     >
                  </li>
                  <li class="footer__nav-item">
                     <a class="footer__nav-link" href="./contacts.html"
                        >Contacts</a
                     >
                  </li>
               </ul>
            </div>
            <div class="footer__nav">
               <h3 class="footer__block-title">Our Experience</h3>
               <ul class="footer__nav-list">
                  <li class="footer__nav-item">
                     <a class="footer__nav-link" href="./services.html"
                        >Services</a
                     >
                  </li>
                  <li class="footer__nav-item">
                     <a class="footer__nav-link" href="./work.html">Work</a>
                  </li>
                  <li class="footer__nav-item">
                     <a class="footer__nav-link" href="./news.html">News</a>
                  </li>
               </ul>
            </div>
         </nav>
      </div>
      <small class="footer__copyright"
         >&copy;&nbsp;All rights reserved. Made with
         <span>by Createx Studio</span>
      </small>
      <a href="#header" data-scroll class="to-top hidden">
         <span class="to-top__icon">
            <svg>
               <use xlink:href="@img/sprite.svg#to-top"></use>
            </svg>
         </span>
      </a>
   </div>
</footer>
