<section class="hero-page hero-page--positions">
  <div class="container">
    <ul class="breadcrumbs hero-page__breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Homepage</a>
      </li>
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">About Us</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link">Available Positions</a>
      </li>
    </ul>
    <h1 class="hero-page__title">Available Positions</h1>
    <p class="hero-page__descr">
      Build your career with Createx Construction Bureau.
    </p>
  </div>
</section>