<section class="hero-page hero-page--post">
   <div class="container">
      <ul class="breadcrumbs hero-page__breadcrumbs">
         <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link">Homepage</a>
         </li>
         <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link">News</a>
         </li>
         <li class="breadcrumbs__item">
            <a class="breadcrumbs__link"
               >How to Build Climate Change-Resilient Infrastructure</a
            >
         </li>
      </ul>
      <h1 class="hero-page__title">
         How to Build Climate Change-Resilient Infrastructure
      </h1>
      <div class="hero-page__bottom">
         <div class="hero-page__meta article-meta">
            <a href="#" class="article-meta__item">Industry News</a>
            <time class="article-meta__item" datetime="2020-06-24 18:55"
               >June 24, 2020</time
            >
            <span class="article-meta__item article-meta__item--comments"
               >4 comments</span
            >
         </div>
         <ul class="social hero-page__social">
            <li class="social__item">
               <a
                  href="#"
                  target="_blank"
                  class="social__link"
                  aria-label="Facebook"
               >
                  <svg>
                     <use xlink:href="@img/sprite.svg#facebook"></use>
                  </svg>
               </a>
            </li>
            <li class="social__item">
               <a
                  href="#"
                  target="_blank"
                  class="social__link"
                  aria-label="LinkedIn"
               >
                  <svg>
                     <use xlink:href="@img/sprite.svg#linked"></use>
                  </svg>
               </a>
            </li>
            <li class="social__item">
               <a
                  href="#"
                  target="_blank"
                  class="social__link"
                  aria-label="Twitter"
               >
                  <svg>
                     <use xlink:href="@img/sprite.svg#twitter"></use>
                  </svg>
               </a>
            </li>
         </ul>
      </div>
   </div>
</section>
