<section class="hero-page hero-page--work">
   <div class="container">
      <ul class="breadcrumbs hero-page__breadcrumbs">
         <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link">Homepage</a>
         </li>
         <li class="breadcrumbs__item">
            <a class="breadcrumbs__link">Work</a>
         </li>
      </ul>
      <h1 class="hero-page__title">Our Work</h1>
      <p class="hero-page__descr">
         Our portfolio represents 20 years of construction experience backed by
         a passion for perfect client service, quality and innovations in
         consctuction industry.
      </p>
   </div>
</section>
