<section class="hero-page hero-page--contacts">
   <div class="container hero-page__container">
      <ul class="breadcrumbs hero-page__breadcrumbs">
         <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link">Homepage</a>
         </li>
         <li class="breadcrumbs__item">
            <a class="breadcrumbs__link">Contacts</a>
         </li>
      </ul>
      <div class="hero-page__content">
         <h1 class="hero-page__title">Contacts</h1>
         <p class="hero-page__descr">
            Contact us for all your construction needs. We always welcome any
            questions and comments.
         </p>
      </div>
   </div>
</section>
