<section class="hero">
   <h1 class="vhidden">Createx Construction Bureau</h1>
   <div class="hero__slider">
      <button class="slider-nav__btn slider-btn hero__prev">
         <svg>
            <use xlink:href="@img/sprite.svg#left-arrow"></use>
         </svg>
      </button>
      <button class="slider-nav__btn slider-btn hero__next">
         <svg>
            <use xlink:href="@img/sprite.svg#right-arrow"></use>
         </svg>
      </button>
      <ul class="swiper-wrapper">
         <li class="swiper-slide hero__slide hero__bg--1">
            <div class="container">
               <div class="hero__content">
                  <h2 class="main-title main-title--home">Create<span>x</span> Construction</h2>
                  <p class="main-descr main-descr--home">
                     Cras ultrices leo vitae non viverra. Fringilla nisi quisque consequat, dignissim vitae proin
                     ipsum sed.
                     Pellentesque nec turpis purus eget pellentesque integer ipsum elementum felis.
                  </p>
                  <div class="hero__btn-block"><a class="btn btn-outline-white hero__btn" href="./about.html">Learn
                        more about
                        us</a><a class="btn btn-solid-orange hero__btn" href="./contacts.html">Submit
                        Request</a>
                  </div>
               </div>
            </div>
         </li>
         <li class="swiper-slide hero__slide hero__bg--1">
            <div class="container">
               <div class="hero__content">
                  <h2 class="main-title main-title--home">Create<span>x</span> Construction</h2>
                  <p class="main-descr main-descr--home">
                     Cras ultrices leo vitae non viverra. Fringilla nisi quisque consequat, dignissim vitae proin
                     ipsum sed.
                     Pellentesque nec turpis purus eget pellentesque integer ipsum elementum felis.
                  </p>
                  <div class="hero__btn-block"><a class="btn btn-outline-white hero__btn" href="./about.html">Learn
                        more about
                        us</a><a class="btn btn-solid-orange hero__btn" href="./contacts.html">Submit
                        Request</a>
                  </div>
               </div>
            </div>
         </li>
         <li class="swiper-slide hero__slide hero__bg--1">
            <div class="container">
               <div class="hero__content">
                  <h2 class="main-title main-title--home">Create<span>x</span> Construction</h2>
                  <p class="main-descr main-descr--home">
                     Cras ultrices leo vitae non viverra. Fringilla nisi quisque consequat, dignissim vitae proin
                     ipsum sed.
                     Pellentesque nec turpis purus eget pellentesque integer ipsum elementum felis.
                  </p>
                  <div class="hero__btn-block"><a class="btn btn-outline-white hero__btn" href="./about.html">Learn
                        more about
                        us</a><a class="btn btn-solid-orange hero__btn" href="./contacts.html">Submit
                        Request</a>
                  </div>
               </div>
            </div>
         </li>
         <li class="swiper-slide hero__slide hero__bg--1">
            <div class="container">
               <div class="hero__content">
                  <h2 class="main-title main-title--home">Create<span>x</span> Construction</h1>
                     <p class="main-descr main-descr--home">
                        Cras ultrices leo vitae non viverra. Fringilla nisi quisque consequat, dignissim vitae proin
                        ipsum sed.
                        Pellentesque nec turpis purus eget pellentesque integer ipsum elementum felis.
                     </p>
                     <div class="hero__btn-block"><a class="btn btn-outline-white hero__btn" href="./about.html">Learn
                           more about
                           us</a><a class="btn btn-solid-orange hero__btn" href="./contacts.html">Submit
                           Request</a>
                     </div>
               </div>
            </div>
         </li>
      </ul>
      <div class="swiper-pagination"></div>
   </div>
</section>