<section class="hero-page hero-page--about">
   <div class="container">
      <ul class="breadcrumbs hero-page__breadcrumbs">
         <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link">Homepage</a>
         </li>
         <li class="breadcrumbs__item">
            <a class="breadcrumbs__link">About Us</a>
         </li>
      </ul>
      <h1 class="hero-page__title">About Us</h1>
      <p class="hero-page__descr">
         Createx Construction Bureau has been successfully operating in the USA
         construction market since 2000. We are proud to offer you quality
         construction and exemplary service.
      </p>
   </div>
</section>
