<section class="know-form">
   <div class="container">
      <form action="#" class="know-form__block">
         <h2 class="know-form__title">Want to know more? Ask us a question:</h2>
         <div class="know-form__content">
            <label class="field field-default know-form__field">
               <span>Name</span>
               <input type="text" placeholder="Your name" />
            </label>
            <label class="field field-default know-form__field">
               <span>Phone</span>
               <input type="tel" placeholder="Your phone" />
            </label>
            <label class="field field-default know-form__field">
               <span>Message</span>
               <input type="text" placeholder="Your message" />
            </label>
            <button class="btn btn-solid-orange know-form__btn" type="submit">
               Send
            </button>
         </div>
      </form>
   </div>
</section>
