<section class="mission mission--positions">
  <div class="container mission__container">
    <h2 class="title mission__title">Employee benefits</h2>
    <p class="subtitle mission__subtitle">
      There’s always room for talent.
    </p>
    <ul class="mission__list">
      <li class="mission__item">
        <svg>
          <use xlink:href="@img/sprite.svg#training"></use>
        </svg>
        <h3 class="mission__item-title">Training</h3>
        <p class="mission__item-descr">
          Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam velit nostrud aliquip sunt.
        </p>
      </li>
      <li class="mission__item">
        <svg>
          <use xlink:href="@img/sprite.svg#growth"></use>
        </svg>
        <h3 class="mission__item-title">Professional Growth</h3>
        <p class="mission__item-descr">
          Anim reprehenderit sint voluptate exercitation adipisicing laborum adipisicing. Minim empor est ea.
        </p>
      </li>
      <li class="mission__item">
        <svg>
          <use xlink:href="@img/sprite.svg#salary"></use>
        </svg>
        <h3 class="mission__item-title">Growing Salary</h3>
        <p class="mission__item-descr">
          Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit voluptate ullamco proident ea ad.
        </p>
      </li>
    </ul>
  </div>
</section>