<section class="mission mission--about">
   <div class="container mission__container">
      <h2 class="title mission__title">Our core values</h2>
      <p class="subtitle mission__subtitle">
         Our mission is&nbsp;to&nbsp;set the highest standards for construction
         sphere.
      </p>
      <ul class="mission__list">
         <li class="mission__item">
            <svg>
               <use xlink:href="@img/sprite.svg#quality"></use>
            </svg>
            <h3 class="mission__item-title">Quality</h3>
            <p class="mission__item-descr">
               Culpa nostrud commodo ea&nbsp;consequat aliquip reprehenderit.
               Veniam velit nostrud aliquip sunt.
            </p>
         </li>
         <li class="mission__item">
            <svg>
               <use xlink:href="@img/sprite.svg#safety"></use>
            </svg>
            <h3 class="mission__item-title">Safety</h3>
            <p class="mission__item-descr">
               Anim reprehenderit sint voluptate exercitation adipisicing
               laborum adipisicing. Minim empor est&nbsp;ea.
            </p>
         </li>
         <li class="mission__item">
            <svg>
               <use xlink:href="@img/sprite.svg#comfort"></use>
            </svg>
            <h3 class="mission__item-title">Comfort</h3>
            <p class="mission__item-descr">
               Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit
               voluptate ullamco proident ea&nbsp;ad.
            </p>
         </li>
      </ul>
   </div>
</section>
