<section class="partners partners--about">
   <div class="container">
      <h2 class="title partners__title about__partners-title title--center">
         Our partners
      </h2>
      <p class="subtitle psrtners__subtitle subtitle--center">
         We are supported by 12+ industry bodies and media partners
      </p>
      <ul class="partners__list">
         <li class="partners__item">
            <a href="#" class="partners__link" target="_blank">
               <img
                  src="@img/partners/client-logo-1.svg"
                  alt="Logo 1"
                  class="partners__logo"
               />
            </a>
         </li>
         <li class="partners__item">
            <a href="#" class="partners__link" target="_blank">
               <img
                  src="@img/partners/client-logo-2.svg"
                  alt="Logo 2"
                  class="partners__logo"
               />
            </a>
         </li>
         <li class="partners__item">
            <a href="#" class="partners__link" target="_blank">
               <img
                  src="@img/partners/client-logo-3.svg"
                  alt="Logo 3"
                  class="partners__logo"
               />
            </a>
         </li>
         <li class="partners__item">
            <a href="#" class="partners__link" target="_blank">
               <img
                  src="@img/partners/client-logo-4.svg"
                  alt="Logo 4"
                  class="partners__logo"
               />
            </a>
         </li>
         <li class="partners__item">
            <a href="#" class="partners__link" target="_blank">
               <img
                  src="@img/partners/client-logo-5.svg"
                  alt="Logo 5"
                  class="partners__logo"
               />
            </a>
         </li>
         <li class="partners__item">
            <a href="#" class="partners__link" target="_blank">
               <img
                  src="@img/partners/client-logo-6.svg"
                  alt="Logo 6"
                  class="partners__logo"
               />
            </a>
         </li>
         <li class="partners__item">
            <a href="#" class="partners__link" target="_blank">
               <img
                  src="@img/partners/client-logo-7.svg"
                  alt="Logo 6"
                  class="partners__logo"
               />
            </a>
         </li>
         <li class="partners__item">
            <a href="#" class="partners__link" target="_blank">
               <img
                  src="@img/partners/client-logo-8.svg"
                  alt="Logo 6"
                  class="partners__logo"
               />
            </a>
         </li>
         <li class="partners__item">
            <a href="#" class="partners__link" target="_blank">
               <img
                  src="@img/partners/client-logo-9.svg"
                  alt="Logo 6"
                  class="partners__logo"
               />
            </a>
         </li>
         <li class="partners__item">
            <a href="#" class="partners__link" target="_blank">
               <img
                  src="@img/partners/client-logo-10.svg"
                  alt="Logo 6"
                  class="partners__logo"
               />
            </a>
         </li>
         <li class="partners__item">
            <a href="#" class="partners__link" target="_blank">
               <img
                  src="@img/partners/client-logo-11.svg"
                  alt="Logo 6"
                  class="partners__logo"
               />
            </a>
         </li>
         <li class="partners__item">
            <a href="#" class="partners__link" target="_blank">
               <img
                  src="@img/partners/client-logo-12.svg"
                  alt="Logo 6"
                  class="partners__logo"
               />
            </a>
         </li>
      </ul>
   </div>
</section>
