<section class="partners partners--index">
  <div class="container partners__container">
    <h2 class="title partners__title">Supported by 12+ partners</h2>
    <ul class=" partners__list">
      <li class="partners__item">
        <a href="#" class="partners__link" target="_blank">
          <img src="@img/partners/client-logo-1.svg" alt="Logo 1" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link" target="_blank">
          <img src="@img/partners/client-logo-2.svg" alt="Logo 2" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link" target="_blank">
          <img src="@img/partners/client-logo-3.svg" alt="Logo 3" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link" target="_blank">
          <img src="@img/partners/client-logo-4.svg" alt="Logo 4" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link" target="_blank">
          <img src="@img/partners/client-logo-5.svg" alt="Logo 5" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link" target="_blank">
          <img src="@img/partners/client-logo-6.svg" alt="Logo 6" class="partners__logo">
        </a>
      </li>
    </ul>
  </div>
</section>