<section class="portfolio">
   <div class="container portfolio__container">
      <h2 class="vhidden">Portfolio</h2>
      <ul class="portfolio-tabs-nav">
         <li class="portfolio-tabs-nav__item">
            <button
               class="portfolio-tabs-nav__btn portfolio-tabs-nav__btn--active"
               data-path="all"
            >
               <svg class="portfolio-tabs-nav__icon">
                  <use xlink:href="@img/sprite.svg#house"></use>
               </svg>
               <span class="portfolio-tabs-nav__text">All Projects</span>
            </button>
         </li>
         <li class="portfolio-tabs-nav__item">
            <button class="portfolio-tabs-nav__btn" data-path="constr">
               <svg class="portfolio-tabs-nav__icon">
                  <use xlink:href="@img/sprite.svg#services-1"></use>
               </svg>
               <span class="portfolio-tabs-nav__text">Construction</span>
            </button>
         </li>
         <li class="portfolio-tabs-nav__item">
            <button class="portfolio-tabs-nav__btn" data-path="dev">
               <svg class="portfolio-tabs-nav__icon">
                  <use xlink:href="@img/sprite.svg#services-2"></use>
               </svg>
               <span class="portfolio-tabs-nav__text">Project Development</span>
            </button>
         </li>
         <li class="portfolio-tabs-nav__item">
            <button class="portfolio-tabs-nav__btn" data-path="design">
               <svg class="portfolio-tabs-nav__icon">
                  <use xlink:href="@img/sprite.svg#services-3"></use>
               </svg>
               <span class="portfolio-tabs-nav__text">Interior Design</span>
            </button>
         </li>
         <li class="portfolio-tabs-nav__item">
            <button class="portfolio-tabs-nav__btn" data-path="repair">
               <svg class="portfolio-tabs-nav__icon">
                  <use xlink:href="@img/sprite.svg#services-4"></use>
               </svg>
               <span class="portfolio-tabs-nav__text">Repairs</span>
            </button>
         </li>
      </ul>
      <ul class="portfolio-tabs">
         <li
            class="portfolio-item portfolio-tabs__item portfolio-tabs__item--visible"
         >
            <img
               class="portfolio-item__images"
               src="@img/portfolio/cubes.jpg"
               alt="portfolio cover"
            />
            <div class="portfolio-item__content" data-target="repair">
               <h3 class="portfolio-item__title">Cubes Building</h3>
               <span class="portfolio-item__descr">Business Centers</span>
               <div class="portfolio-item__btn-block">
                  <a
                     class="btn btn-outline-orange portfolio-item__btn"
                     href="./work-2.html"
                     >View Project</a
                  >
               </div>
            </div>
         </li>
         <li
            class="portfolio-item portfolio-tabs__item portfolio-tabs__item--visible"
         >
            <img
               class="portfolio-item__images"
               src="@img/portfolio/modern.jpg"
               alt="portfolio cover"
            />
            <div class="portfolio-item__content" data-target="repair">
               <h3 class="portfolio-item__title">Modern Cottage</h3>
               <span class="portfolio-item__descr">Private houses</span>
               <div class="portfolio-item__btn-block">
                  <a
                     class="btn btn-outline-orange portfolio-item__btn"
                     href="./work-2.html"
                     >View Project</a
                  >
               </div>
            </div>
         </li>
         <li
            class="portfolio-item portfolio-tabs__item portfolio-tabs__item--visible"
         >
            <img
               class="portfolio-item__images"
               src="@img/portfolio/luxury.jpg"
               alt="portfolio cover"
            />
            <div class="portfolio-item__content" data-target="dev">
               <h3 class="portfolio-item__title">Luxury Beach House</h3>
               <span class="portfolio-item__descr">Private houses</span>
               <div class="portfolio-item__btn-block">
                  <a
                     class="btn btn-outline-orange portfolio-item__btn"
                     href="./work-2.html"
                     >View Project</a
                  >
               </div>
            </div>
         </li>
         <li
            class="portfolio-item portfolio-tabs__item portfolio-tabs__item--visible"
         >
            <img
               class="portfolio-item__images"
               src="@img/portfolio/modern-double.jpg"
               alt="portfolio cover"
            />
            <div class="portfolio-item__content" data-target="constr">
               <h3 class="portfolio-item__title">Modern Double Bedroom</h3>
               <span class="portfolio-item__descr">Apartments & flats</span>
               <div class="portfolio-item__btn-block">
                  <a
                     class="btn btn-outline-orange portfolio-item__btn"
                     href="./work-2.html"
                     >View Project</a
                  >
               </div>
            </div>
         </li>
         <li
            class="portfolio-item portfolio-tabs__item portfolio-tabs__item--visible"
         >
            <img
               class="portfolio-item__images"
               src="@img/portfolio/kids.jpg"
               alt="portfolio cover"
            />
            <div class="portfolio-item__content" data-target="design">
               <h3 class="portfolio-item__title">
                  Kids Bedroom With Decorations
               </h3>
               <span class="portfolio-item__descr">Apartments & flats</span>
               <div class="portfolio-item__btn-block">
                  <a
                     class="btn btn-outline-orange portfolio-item__btn"
                     href="./work-2.html"
                     >View Project</a
                  >
               </div>
            </div>
         </li>
         <li
            class="portfolio-item portfolio-tabs__item portfolio-tabs__item--visible"
         >
            <img
               class="portfolio-item__images"
               src="@img/portfolio/the-pencil.jpg"
               alt="portfolio cover"
            />
            <div class="portfolio-item__content" data-target="constr">
               <h3 class="portfolio-item__title">The Pencil Building</h3>
               <span class="portfolio-item__descr">Stores & Malls</span>
               <div class="portfolio-item__btn-block">
                  <a
                     class="btn btn-outline-orange portfolio-item__btn"
                     href="./work-2.html"
                     >View Project</a
                  >
               </div>
            </div>
         </li>
         <li
            class="portfolio-item portfolio-tabs__item portfolio-tabs__item--visible"
         >
            <img
               class="portfolio-item__images"
               src="@img/portfolio/red-finger.jpg"
               alt="portfolio cover"
            />
            <div class="portfolio-item__content" data-target="dev">
               <h3 class="portfolio-item__title">Red Finger Building</h3>
               <span class="portfolio-item__descr">Business Centers</span>
               <div class="portfolio-item__btn-block">
                  <a
                     class="btn btn-outline-orange portfolio-item__btn"
                     href="./work-2.html"
                     >View Project</a
                  >
               </div>
            </div>
         </li>
         <li
            class="portfolio-item portfolio-tabs__item portfolio-tabs__item--visible"
         >
            <img
               class="portfolio-item__images"
               src="@img/portfolio/scandinavian.jpg"
               alt="portfolio cover"
            />
            <div class="portfolio-item__content" data-target="dev">
               <h3 class="portfolio-item__title">
                  Scandinavian Style Interior
               </h3>
               <span class="portfolio-item__descr">Private houses</span>
               <div class="portfolio-item__btn-block">
                  <a
                     class="btn btn-outline-orange portfolio-item__btn"
                     href="./work-2.html"
                     >View Project</a
                  >
               </div>
            </div>
         </li>
         <li
            class="portfolio-item portfolio-tabs__item portfolio-tabs__item--visible"
         >
            <img
               class="portfolio-item__images"
               src="@img/portfolio/brown.jpg"
               alt="portfolio cover"
            />
            <div class="portfolio-item__content" data-target="dev">
               <h3 class="portfolio-item__title">
                  Brown and Gray Painted House
               </h3>
               <span class="portfolio-item__descr">Private houses</span>
               <div class="portfolio-item__btn-block">
                  <a
                     class="btn btn-outline-orange portfolio-item__btn"
                     href="./work-2.html"
                     >View Project</a
                  >
               </div>
            </div>
         </li>
         <li
            class="portfolio-item portfolio-tabs__item portfolio-tabs__item--visible"
         >
            <img
               class="portfolio-item__images"
               src="@img/portfolio/cubes.jpg"
               alt="portfolio cover"
            />
            <div class="portfolio-item__content" data-target="repair">
               <h3 class="portfolio-item__title">Cubes Building</h3>
               <span class="portfolio-item__descr">Business Centers</span>
               <div class="portfolio-item__btn-block">
                  <a
                     class="btn btn-outline-orange portfolio-item__btn"
                     href="./work-2.html"
                     >View Project</a
                  >
               </div>
            </div>
         </li>
         <li
            class="portfolio-item portfolio-tabs__item portfolio-tabs__item--visible"
         >
            <img
               class="portfolio-item__images"
               src="@img/portfolio/modern.jpg"
               alt="portfolio cover"
            />
            <div class="portfolio-item__content" data-target="repair">
               <h3 class="portfolio-item__title">Modern Cottage</h3>
               <span class="portfolio-item__descr">Private houses</span>
               <div class="portfolio-item__btn-block">
                  <a
                     class="btn btn-outline-orange portfolio-item__btn"
                     href="./work-2.html"
                     >View Project</a
                  >
               </div>
            </div>
         </li>
         <li
            class="portfolio-item portfolio-tabs__item portfolio-tabs__item--visible"
         >
            <img
               class="portfolio-item__images"
               src="@img/portfolio/luxury.jpg"
               alt="portfolio cover"
            />
            <div class="portfolio-item__content" data-target="dev">
               <h3 class="portfolio-item__title">Luxury Beach House</h3>
               <span class="portfolio-item__descr">Private houses</span>
               <div class="portfolio-item__btn-block">
                  <a
                     class="btn btn-outline-orange portfolio-item__btn"
                     href="./work-2.html"
                     >View Project</a
                  >
               </div>
            </div>
         </li>
         <li
            class="portfolio-item portfolio-tabs__item portfolio-tabs__item--visible"
         >
            <img
               class="portfolio-item__images"
               src="@img/portfolio/modern-double.jpg"
               alt="portfolio cover"
            />
            <div class="portfolio-item__content" data-target="constr">
               <h3 class="portfolio-item__title">Modern Double Bedroom</h3>
               <span class="portfolio-item__descr">Apartments & flats</span>
               <div class="portfolio-item__btn-block">
                  <a
                     class="btn btn-outline-orange portfolio-item__btn"
                     href="./work-2.html"
                     >View Project</a
                  >
               </div>
            </div>
         </li>
         <li
            class="portfolio-item portfolio-tabs__item portfolio-tabs__item--visible"
         >
            <img
               class="portfolio-item__images"
               src="@img/portfolio/kids.jpg"
               alt="portfolio cover"
            />
            <div class="portfolio-item__content" data-target="design">
               <h3 class="portfolio-item__title">
                  Kids Bedroom With Decorations
               </h3>
               <span class="portfolio-item__descr">Apartments & flats</span>
               <div class="portfolio-item__btn-block">
                  <a
                     class="btn btn-outline-orange portfolio-item__btn"
                     href="./work-2.html"
                     >View Project</a
                  >
               </div>
            </div>
         </li>
         <li
            class="portfolio-item portfolio-tabs__item portfolio-tabs__item--visible"
         >
            <img
               class="portfolio-item__images"
               src="@img/portfolio/the-pencil.jpg"
               alt="portfolio cover"
            />
            <div class="portfolio-item__content" data-target="constr">
               <h3 class="portfolio-item__title">The Pencil Building</h3>
               <span class="portfolio-item__descr">Stores & Malls</span>
               <div class="portfolio-item__btn-block">
                  <a
                     class="btn btn-outline-orange portfolio-item__btn"
                     href="./work-2.html"
                     >View Project</a
                  >
               </div>
            </div>
         </li>
         <li
            class="portfolio-item portfolio-tabs__item portfolio-tabs__item--visible"
         >
            <img
               class="portfolio-item__images"
               src="@img/portfolio/red-finger.jpg"
               alt="portfolio cover"
            />
            <div class="portfolio-item__content" data-target="dev">
               <h3 class="portfolio-item__title">Red Finger Building</h3>
               <span class="portfolio-item__descr">Business Centers</span>
               <div class="portfolio-item__btn-block">
                  <a
                     class="btn btn-outline-orange portfolio-item__btn"
                     href="./work-2.html"
                     >View Project</a
                  >
               </div>
            </div>
         </li>
         <li
            class="portfolio-item portfolio-tabs__item portfolio-tabs__item--visible"
         >
            <img
               class="portfolio-item__images"
               src="@img/portfolio/scandinavian.jpg"
               alt="portfolio cover"
            />
            <div class="portfolio-item__content" data-target="dev">
               <h3 class="portfolio-item__title">
                  Scandinavian Style Interior
               </h3>
               <span class="portfolio-item__descr">Private houses</span>
               <div class="portfolio-item__btn-block">
                  <a
                     class="btn btn-outline-orange portfolio-item__btn"
                     href="./work-2.html"
                     >View Project</a
                  >
               </div>
            </div>
         </li>
         <li
            class="portfolio-item portfolio-tabs__item portfolio-tabs__item--visible"
         >
            <img
               class="portfolio-item__images"
               src="@img/portfolio/brown.jpg"
               alt="portfolio cover"
            />
            <div class="portfolio-item__content" data-target="dev">
               <h3 class="portfolio-item__title">
                  Brown and Gray Painted House
               </h3>
               <span class="portfolio-item__descr">Private houses</span>
               <div class="portfolio-item__btn-block">
                  <a
                     class="btn btn-outline-orange portfolio-item__btn"
                     href="./work-2.html"
                     >View Project</a
                  >
               </div>
            </div>
         </li>
         <li
            class="portfolio-item portfolio-tabs__item portfolio-tabs__item--visible"
         >
            <img
               class="portfolio-item__images"
               src="@img/portfolio/cubes.jpg"
               alt="portfolio cover"
            />
            <div class="portfolio-item__content" data-target="repair">
               <h3 class="portfolio-item__title">Cubes Building</h3>
               <span class="portfolio-item__descr">Business Centers</span>
               <div class="portfolio-item__btn-block">
                  <a
                     class="btn btn-outline-orange portfolio-item__btn"
                     href="./work-2.html"
                     >View Project</a
                  >
               </div>
            </div>
         </li>
         <li
            class="portfolio-item portfolio-tabs__item portfolio-tabs__item--visible"
         >
            <img
               class="portfolio-item__images"
               src="@img/portfolio/modern.jpg"
               alt="portfolio cover"
            />
            <div class="portfolio-item__content" data-target="repair">
               <h3 class="portfolio-item__title">Modern Cottage</h3>
               <span class="portfolio-item__descr">Private houses</span>
               <div class="portfolio-item__btn-block">
                  <a
                     class="btn btn-outline-orange portfolio-item__btn"
                     href="./work-2.html"
                     >View Project</a
                  >
               </div>
            </div>
         </li>
         <li
            class="portfolio-item portfolio-tabs__item portfolio-tabs__item--visible"
         >
            <img
               class="portfolio-item__images"
               src="@img/portfolio/luxury.jpg"
               alt="portfolio cover"
            />
            <div class="portfolio-item__content" data-target="dev">
               <h3 class="portfolio-item__title">Luxury Beach House</h3>
               <span class="portfolio-item__descr">Private houses</span>
               <div class="portfolio-item__btn-block">
                  <a
                     class="btn btn-outline-orange portfolio-item__btn"
                     href="./work-2.html"
                     >View Project</a
                  >
               </div>
            </div>
         </li>
         <li
            class="portfolio-item portfolio-tabs__item portfolio-tabs__item--visible"
         >
            <img
               class="portfolio-item__images"
               src="@img/portfolio/modern-double.jpg"
               alt="portfolio cover"
            />
            <div class="portfolio-item__content" data-target="constr">
               <h3 class="portfolio-item__title">Modern Double Bedroom</h3>
               <span class="portfolio-item__descr">Apartments & flats</span>
               <div class="portfolio-item__btn-block">
                  <a
                     class="btn btn-outline-orange portfolio-item__btn"
                     href="./work-2.html"
                     >View Project</a
                  >
               </div>
            </div>
         </li>
         <li
            class="portfolio-item portfolio-tabs__item portfolio-tabs__item--visible"
         >
            <img
               class="portfolio-item__images"
               src="@img/portfolio/kids.jpg"
               alt="portfolio cover"
            />
            <div class="portfolio-item__content" data-target="design">
               <h3 class="portfolio-item__title">
                  Kids Bedroom With Decorations
               </h3>
               <span class="portfolio-item__descr">Apartments & flats</span>
               <div class="portfolio-item__btn-block">
                  <a
                     class="btn btn-outline-orange portfolio-item__btn"
                     href="./work-2.html"
                     >View Project</a
                  >
               </div>
            </div>
         </li>
         <li
            class="portfolio-item portfolio-tabs__item portfolio-tabs__item--visible"
         >
            <img
               class="portfolio-item__images"
               src="@img/portfolio/the-pencil.jpg"
               alt="portfolio cover"
            />
            <div class="portfolio-item__content" data-target="constr">
               <h3 class="portfolio-item__title">The Pencil Building</h3>
               <span class="portfolio-item__descr">Stores & Malls</span>
               <div class="portfolio-item__btn-block">
                  <a
                     class="btn btn-outline-orange portfolio-item__btn"
                     href="./work-2.html"
                     >View Project</a
                  >
               </div>
            </div>
         </li>
         <li
            class="portfolio-item portfolio-tabs__item portfolio-tabs__item--visible"
         >
            <img
               class="portfolio-item__images"
               src="@img/portfolio/red-finger.jpg"
               alt="portfolio cover"
            />
            <div class="portfolio-item__content" data-target="dev">
               <h3 class="portfolio-item__title">Red Finger Building</h3>
               <span class="portfolio-item__descr">Business Centers</span>
               <div class="portfolio-item__btn-block">
                  <a
                     class="btn btn-outline-orange portfolio-item__btn"
                     href="./work-2.html"
                     >View Project</a
                  >
               </div>
            </div>
         </li>
         <li
            class="portfolio-item portfolio-tabs__item portfolio-tabs__item--visible"
         >
            <img
               class="portfolio-item__images"
               src="@img/portfolio/scandinavian.jpg"
               alt="portfolio cover"
            />
            <div class="portfolio-item__content" data-target="dev">
               <h3 class="portfolio-item__title">
                  Scandinavian Style Interior
               </h3>
               <span class="portfolio-item__descr">Private houses</span>
               <div class="portfolio-item__btn-block">
                  <a
                     class="btn btn-outline-orange portfolio-item__btn"
                     href="./work-2.html"
                     >View Project</a
                  >
               </div>
            </div>
         </li>
         <li
            class="portfolio-item portfolio-tabs__item portfolio-tabs__item--visible"
         >
            <img
               class="portfolio-item__images"
               src="@img/portfolio/brown.jpg"
               alt="portfolio cover"
            />
            <div class="portfolio-item__content" data-target="dev">
               <h3 class="portfolio-item__title">
                  Brown and Gray Painted House
               </h3>
               <span class="portfolio-item__descr">Private houses</span>
               <div class="portfolio-item__btn-block">
                  <a
                     class="btn btn-outline-orange portfolio-item__btn"
                     href="./work-2.html"
                     >View Project</a
                  >
               </div>
            </div>
         </li>
         <li
            class="portfolio-item portfolio-tabs__item portfolio-tabs__item--visible"
         >
            <img
               class="portfolio-item__images"
               src="@img/portfolio/cubes.jpg"
               alt="portfolio cover"
            />
            <div class="portfolio-item__content" data-target="repair">
               <h3 class="portfolio-item__title">Cubes Building</h3>
               <span class="portfolio-item__descr">Business Centers</span>
               <div class="portfolio-item__btn-block">
                  <a
                     class="btn btn-outline-orange portfolio-item__btn"
                     href="./work-2.html"
                     >View Project</a
                  >
               </div>
            </div>
         </li>
         <li
            class="portfolio-item portfolio-tabs__item portfolio-tabs__item--visible"
         >
            <img
               class="portfolio-item__images"
               src="@img/portfolio/modern.jpg"
               alt="portfolio cover"
            />
            <div class="portfolio-item__content" data-target="repair">
               <h3 class="portfolio-item__title">Modern Cottage</h3>
               <span class="portfolio-item__descr">Private houses</span>
               <div class="portfolio-item__btn-block">
                  <a
                     class="btn btn-outline-orange portfolio-item__btn"
                     href="./work-2.html"
                     >View Project</a
                  >
               </div>
            </div>
         </li>
         <li
            class="portfolio-item portfolio-tabs__item portfolio-tabs__item--visible"
         >
            <img
               class="portfolio-item__images"
               src="@img/portfolio/luxury.jpg"
               alt="portfolio cover"
            />
            <div class="portfolio-item__content" data-target="dev">
               <h3 class="portfolio-item__title">Luxury Beach House</h3>
               <span class="portfolio-item__descr">Private houses</span>
               <div class="portfolio-item__btn-block">
                  <a
                     class="btn btn-outline-orange portfolio-item__btn"
                     href="./work-2.html"
                     >View Project</a
                  >
               </div>
            </div>
         </li>
         <li
            class="portfolio-item portfolio-tabs__item portfolio-tabs__item--visible"
         >
            <img
               class="portfolio-item__images"
               src="@img/portfolio/modern-double.jpg"
               alt="portfolio cover"
            />
            <div class="portfolio-item__content" data-target="constr">
               <h3 class="portfolio-item__title">Modern Double Bedroom</h3>
               <span class="portfolio-item__descr">Apartments & flats</span>
               <div class="portfolio-item__btn-block">
                  <a
                     class="btn btn-outline-orange portfolio-item__btn"
                     href="./work-2.html"
                     >View Project</a
                  >
               </div>
            </div>
         </li>
         <li
            class="portfolio-item portfolio-tabs__item portfolio-tabs__item--visible"
         >
            <img
               class="portfolio-item__images"
               src="@img/portfolio/kids.jpg"
               alt="portfolio cover"
            />
            <div class="portfolio-item__content" data-target="design">
               <h3 class="portfolio-item__title">
                  Kids Bedroom With Decorations
               </h3>
               <span class="portfolio-item__descr">Apartments & flats</span>
               <div class="portfolio-item__btn-block">
                  <a
                     class="btn btn-outline-orange portfolio-item__btn"
                     href="./work-2.html"
                     >View Project</a
                  >
               </div>
            </div>
         </li>
         <li
            class="portfolio-item portfolio-tabs__item portfolio-tabs__item--visible"
         >
            <img
               class="portfolio-item__images"
               src="@img/portfolio/the-pencil.jpg"
               alt="portfolio cover"
            />
            <div class="portfolio-item__content" data-target="constr">
               <h3 class="portfolio-item__title">The Pencil Building</h3>
               <span class="portfolio-item__descr">Stores & Malls</span>
               <div class="portfolio-item__btn-block">
                  <a
                     class="btn btn-outline-orange portfolio-item__btn"
                     href="./work-2.html"
                     >View Project</a
                  >
               </div>
            </div>
         </li>
         <li
            class="portfolio-item portfolio-tabs__item portfolio-tabs__item--visible"
         >
            <img
               class="portfolio-item__images"
               src="@img/portfolio/red-finger.jpg"
               alt="portfolio cover"
            />
            <div class="portfolio-item__content" data-target="dev">
               <h3 class="portfolio-item__title">Red Finger Building</h3>
               <span class="portfolio-item__descr">Business Centers</span>
               <div class="portfolio-item__btn-block">
                  <a
                     class="btn btn-outline-orange portfolio-item__btn"
                     href="./work-2.html"
                     >View Project</a
                  >
               </div>
            </div>
         </li>
         <li
            class="portfolio-item portfolio-tabs__item portfolio-tabs__item--visible"
         >
            <img
               class="portfolio-item__images"
               src="@img/portfolio/scandinavian.jpg"
               alt="portfolio cover"
            />
            <div class="portfolio-item__content" data-target="dev">
               <h3 class="portfolio-item__title">
                  Scandinavian Style Interior
               </h3>
               <span class="portfolio-item__descr">Private houses</span>
               <div class="portfolio-item__btn-block">
                  <a
                     class="btn btn-outline-orange portfolio-item__btn"
                     href="./work-2.html"
                     >View Project</a
                  >
               </div>
            </div>
         </li>
         <li
            class="portfolio-item portfolio-tabs__item portfolio-tabs__item--visible"
         >
            <img
               class="portfolio-item__images"
               src="@img/portfolio/brown.jpg"
               alt="portfolio cover"
            />
            <div class="portfolio-item__content" data-target="dev">
               <h3 class="portfolio-item__title">
                  Brown and Gray Painted House
               </h3>
               <span class="portfolio-item__descr">Private houses</span>
               <div class="portfolio-item__btn-block">
                  <a
                     class="btn btn-outline-orange portfolio-item__btn"
                     href="./work-2.html"
                     >View Project</a
                  >
               </div>
            </div>
         </li>
      </ul>
      <button class="portfolio-more">
         <svg>
            <use xlink:href="@img/sprite.svg#load-more"></use>
         </svg>
         Load more
      </button>
   </div>
</section>
