<section class="portfolio-section">
  <div class="container portfolio-section__container">
    <div class="portfolio-section__top">
      <h2 class="title portfolio-section__title">Browse our selected projects and learn more about our work</h2>
      <div class="slider-nav portfolio-section__slider-nav">
        <button class="slider-nav__btn portfolio-section__prev slider-btn">
          <svg>
            <use xlink:href="@img/sprite.svg#left-arrow"></use>
          </svg>
        </button>
        <button class="slider-nav__btn portfolio-section__next slider-btn">
          <svg>
            <use xlink:href="@img/sprite.svg#right-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="swiper portfolio-section__items">
      <ul class="swiper-wrapper">
        <li class="swiper-slide portfolio-item" tabindex="0">
          <img class="portfolio-item__images" src="@img/work/work-7.jpg" alt="Photo of one of our works">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Red Finger Building</h3>
            <span class="portfolio-item__descr">Business Centers</span>
            <div class="portfolio-item__btn-block"><a class="btn btn-outline-orange portfolio-item__btn"
                href="./work-2.html">View
                Project</a>
            </div>
          </div>
        </li>
        <li class="swiper-slide portfolio-item" tabindex="0">
          <img class="portfolio-item__images" src="@img/work/work-1.jpg" alt="Photo of one of our works">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Cubes Building</h3>
            <span class="portfolio-item__descr">Business Centers</span>
            <div class="portfolio-item__btn-block"><a class="btn btn-outline-orange portfolio-item__btn"
                href="./work-2.html">View
                Project</a>
            </div>
          </div>
        </li>
        <li class="swiper-slide portfolio-item" tabindex="0">
          <img class="portfolio-item__images" src="@img/work/work-6.jpg" alt="Photo of one of our works">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">The Pencil Building</h3>
            <span class="portfolio-item__descr">Stores & Malls</span>
            <div class="portfolio-item__btn-block"><a class="btn btn-outline-orange portfolio-item__btn"
                href="./work-2.html">View
                Project</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="learn-more">
      <h4 class="learn-more__subtitle">Explore all our works</h4>
      <a href="./work.html" class="btn btn-solid-orange learn-more__btn">View portfolio</a>
    </div>
  </div>
</section>