<form class="post-form">
  <h2 class="title post-form__title">Leave your comment</h2>
  <div class="post-form__field-block">
    <label class="field field-large post-form__field"><span>Name*</span>
      <input type="text" placeholder="Your name" required="">
    </label>
    <label class="field field-large post-form__field"><span>Email*</span>
      <input type="email" placeholder="Your working email" required="">
    </label>
    <label class="field field-large post-form__field"><span>Your comment*</span>
      <textarea rows="3" placeholder="Type comment here" required=""></textarea>
    </label>
    <button class="post-form__btn btn btn--orange" type="submit">Post Comment</button>
  </div>
</form>