<section class="projects work-2__projects">
  <div class="container">
    <div class="projects__top">
      <h2 class="title projects__title">
        Similar projects
      </h2>
      <div class="slider-nav projects__slider-nav">
        <button class="slider-nav__btn projects__prev slider-btn">
          <svg>
            <use xlink:href="@img/sprite.svg#left-arrow"></use>
          </svg>
        </button>
        <button class="slider-nav__btn projects__next slider-btn">
          <svg>
            <use xlink:href="@img/sprite.svg#right-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="swiper projects__items">
      <ul class="swiper-wrapper">
        <li class="swiper-slide portfolio-item">
          <img class="portfolio-item__images" src="@img/portfolio/luxury.jpg" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Luxury Beach House</h3>
            <span class="portfolio-item__descr">Private Houses</span>
            <div class="portfolio-item__btn-block"><a class="btn btn-outline-orange portfolio-item__btn"
                href="./work-2.html">View
                Project</a>
            </div>
          </div>
        </li>
        <li class="swiper-slide portfolio-item">
          <img class="portfolio-item__images" src="@img/portfolio/brown.jpg" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Brown and Gray Painted House</h3>
            <span class="portfolio-item__descr">Private Houses</span>
            <div class="portfolio-item__btn-block"><a class="btn btn-outline-orange portfolio-item__btn"
                href="./work-2.html">View
                Project</a>
            </div>
          </div>
        </li>
        <li class="swiper-slide portfolio-item">
          <img class="portfolio-item__images" src="@img/portfolio/scandinavian.jpg" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Scandinavian Style Interior</h3>
            <span class="portfolio-item__descr">Private houses</span>
            <div class="portfolio-item__btn-block"><a class="btn btn-outline-orange portfolio-item__btn"
                href="./work-2.html">View
                Project</a>
            </div>
          </div>
        </li>
        <li class="swiper-slide portfolio-item">
          <img class="portfolio-item__images" src="@img/portfolio/luxury.jpg" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Luxury Beach House</h3>
            <span class="portfolio-item__descr">Private Houses</span>
            <div class="portfolio-item__btn-block"><a class="btn btn-outline-orange portfolio-item__btn"
                href="./work-2.html">View
                Project</a>
            </div>
          </div>
        </li>
        <li class="swiper-slide portfolio-item">
          <img class="portfolio-item__images" src="@img/portfolio/brown.jpg" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Brown and Gray Painted House</h3>
            <span class="portfolio-item__descr">Private Houses</span>
            <div class="portfolio-item__btn-block"><a class="btn btn-outline-orange portfolio-item__btn"
                href="./work-2.html">View
                Project</a>
            </div>
          </div>
        </li>
        <li class="swiper-slide portfolio-item">
          <img class="portfolio-item__images" src="@img/portfolio/scandinavian.jpg" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Scandinavian Style Interior</h3>
            <span class="portfolio-item__descr">Private houses</span>
            <div class="portfolio-item__btn-block"><a class="btn btn-outline-orange portfolio-item__btn"
                href="./work-2.html">View
                Project</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="learn-more">
      <h4 class="learn-more__subtitle">Explore all our works</h4>
      <a href="#" class=" btn btn-solid-orange learn-more__btn">View portfolio</a>
    </div>
  </div>
</section>