<section class="rezume">
   <div class="container rezume__container">
      <div class="rezume__content">
         <img
            src="@img/achieve-man.jpg"
            alt=""
            aria-hidden="true"
            class="rezume__image"
         />
         <div class="rezume__info">
            <blockquote class="rezume__quote quote">
               <div class="quote__content">
                  <p>
                     Dapibus nec vitae ante mattis. Aliquam phasellus ac dui
                     augue in. Sed aliquet in egestas hac at proin sed quam.
                     Etiam aliquet sagittis non, massa cum pulvinar. Et in leo,
                     tempus purus vestibulum ut blandit et mi. Odio massa purus
                     vel praesent arcu enim elit felis viverra.
                  </p>
                  <p>
                     Magna aliquam interdum mattis ipsum arcu. Elit odio elit
                     viverra quis metus amet eleifend amet. Vet suspendisse
                     faucibus tempor ipsum integer.
                  </p>
               </div>
               <div class="quote__info">
                  <h3 class="quote__author">Courtney Alexander</h3>
                  <p class="quote__post">CEO - Createx Construction Bureau</p>
               </div>
            </blockquote>
         </div>
      </div>
   </div>
</section>
