<section class="services-benefits">
   <div class="container">
      <h2 class="title services-benefits__title title--center">Our benefits</h2>
      <p class="subtitle services-benefits__subtitle subtitle--center">
         Our mission is to set the highest standards for construction sphere.
      </p>
      <ul class="services-benefits__list">
         <li class="services-benefits__item services-benefits__item--terms">
            <h3 class="services-benefits__item-title">Fixed Terms & Cost</h3>
            <p class="services-benefits__item-descr">
               Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam
               velit nostrud aliquip sunt.
            </p>
         </li>
         <li class="services-benefits__item services-benefits__item--workers">
            <h3 class="services-benefits__item-title">Qualified Workers</h3>
            <p class="services-benefits__item-descr">
               Anim reprehenderit sint voluptate exercitation adipisicing
               laborum adipisicing. Minim empor est ea.
            </p>
         </li>
         <li class="services-benefits__item services-benefits__item--control">
            <h3 class="services-benefits__item-title">Supervision & Control</h3>
            <p class="services-benefits__item-descr">
               Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit
               voluptate ullamco proident ea ad.
            </p>
         </li>
      </ul>
      <div class="services-benefits__btn-block">
         <button class="btn btn-solid-orange services-benefits__btn">
            Discuss a project
         </button>
      </div>
   </div>
</section>
