<section class="services-page">
   <div
      class="services-page__services-bg services-page__services-bg--decorate-1"
   ></div>
   <div
      class="services-page__services-bg services-page__services-bg--decorate-2"
   ></div>
   <div class="container services-page__container">
      <h2 class="vhidden">Services content</h2>
      <ul class="services-page__list">
         <li class="services-page__item">
            <img
               src="@img/services-content-1.jpg"
               alt="Image1"
               class="services-page__img"
            />
            <div class="services-page__info services-page__info--ml">
               <h2 class="services-page__title">Construction</h2>
               <p class="services-page__descr">
                  Sapien, feugiat faucibus orci arcu, vulputate. Tristique
                  varius consectetur vulputate arcu, scelerisque nisi, nibh.
                  Enim semper id sodales ultricies sed ut ut augue. Mattis
                  habitant venenatis, gravida posuere massa ac interdum. Eget
                  aliquam dignissim ut vestibulum.
               </p>
               <a
                  href="services-2.html"
                  class="btn btn-outline-orange services-page__btn"
                  >Learn more</a
               >
            </div>
         </li>
         <li class="services-page__item">
            <img
               src="@img/services-content-2.jpg"
               alt="Image2"
               class="services-page__img"
            />
            <div class="services-page__info services-page__info--mr">
               <h2 class="services-page__title">Project Development</h2>
               <p class="services-page__descr">
                  Volutpat tellus mauris sit sit. Posuere ut sit vestibulum amet
                  viverra in. Est nulla lectus purus tincidunt massa tortor.
                  Hendrerit vulputate elementum blandit massa vitae amet felis
                  eget.
               </p>
               <a
                  href="services-2.html"
                  class="btn btn-outline-orange services-page__btn"
                  >Learn more</a
               >
            </div>
         </li>
         <li class="services-page__item">
            <img
               src="@img/services-content-3.jpg"
               alt="Image3"
               class="services-page__img"
            />
            <div class="services-page__info services-page__info--ml">
               <h2 class="services-page__title">Interior Design</h2>
               <p class="services-page__descr">
                  Eleifend orci massa et facilisis orci feugiat ac. Congue in ut
                  lacus, turpis accumsan gravida. Aliquet mattis dignissim massa
                  sociis a, id bibendum. Egestas lorem eros, mi cras amet, vel
                  eget molestie. Turpis enim arcu, amet donec massa pellentesque
                  nulla duis. Arcu dictum metus sed purus senectus faucibus eget
                  elementum pretium.
               </p>
               <a
                  href="services-2.html"
                  class="btn btn-outline-orange services-page__btn"
                  >Learn more</a
               >
            </div>
         </li>
         <li class="services-page__item">
            <img
               src="@img/services-content-4.jpg"
               alt="Image4"
               class="services-page__img"
            />
            <div class="services-page__info services-page__info--mr">
               <h2 class="services-page__title">Repairs</h2>
               <p class="services-page__descr">
                  Facilisis cursus feugiat sit pulvinar amet. Ac facilisi dictum
                  commodo, tortor gravida pretium, orci. Nunc sit sollicitudin
                  id egestas mattis. Turpis viverra nec urna ultrices urna.
               </p>
               <a
                  href="services-2.html"
                  class="btn btn-outline-orange services-page__btn"
                  >Learn more</a
               >
            </div>
         </li>
      </ul>
   </div>
</section>
