<section class="team">
   <div class="container team__container">
      <h2 class="title team__title">Our team</h2>
      <p class="subtitle team__subtitle">
         People are at the heart of Createx Construction Bureau
      </p>
      <ul class="team__list">
         <li class="team__item">
            <div class="team__top">
               <img
                  class="team__image"
                  src="@img/about/team/person-1.jpg"
                  alt="Alexandr"
               />
               <div class="team__socials">
                  <a
                     href="#"
                     target="_blank"
                     class="team__link"
                     aria-label="Linken in"
                  >
                     <svg>
                        <use xlink:href="@img/sprite.svg#linked"></use>
                     </svg>
                  </a>
                  <a
                     href="#"
                     target="_blank"
                     class="team__link"
                     aria-label="Twitter"
                  >
                     <svg>
                        <use xlink:href="@img/sprite.svg#twitter"></use>
                     </svg>
                  </a>
                  <a
                     href="#"
                     target="_blank"
                     class="team__link"
                     aria-label="Facebook"
                  >
                     <svg>
                        <use xlink:href="@img/sprite.svg#facebook"></use>
                     </svg>
                  </a>
               </div>
            </div>
            <div class="team__info">
               <h3 class="team__name">Courtney Alexander</h3>
               <p class="team__post">CEO, Co-Founder</p>
            </div>
         </li>
         <li class="team__item">
            <div class="team__top">
               <img
                  class="team__image"
                  src="@img/about/team/person-2.jpg"
                  alt="Alexandr"
               />
               <div class="team__socials">
                  <a
                     href="#"
                     target="_blank"
                     class="team__link"
                     aria-label="Linken in"
                  >
                     <svg>
                        <use xlink:href="@img/sprite.svg#linked"></use>
                     </svg>
                  </a>
                  <a
                     href="#"
                     target="_blank"
                     class="team__link"
                     aria-label="Twitter"
                  >
                     <svg>
                        <use xlink:href="@img/sprite.svg#twitter"></use>
                     </svg>
                  </a>
                  <a
                     href="#"
                     target="_blank"
                     class="team__link"
                     aria-label="Facebook"
                  >
                     <svg>
                        <use xlink:href="@img/sprite.svg#facebook"></use>
                     </svg>
                  </a>
               </div>
            </div>
            <div class="team__info">
               <h3 class="team__name">Calvin Fox</h3>
               <p class="team__post">CTO, Co-Founder</p>
            </div>
         </li>
         <li class="team__item">
            <div class="team__top">
               <img
                  class="team__image"
                  src="@img/about/team/person-3.jpg"
                  alt="Alexandr"
               />
               <div class="team__socials">
                  <a
                     href="#"
                     target="_blank"
                     class="team__link"
                     aria-label="Linken in"
                  >
                     <svg>
                        <use xlink:href="@img/sprite.svg#linked"></use>
                     </svg>
                  </a>
                  <a
                     href="#"
                     target="_blank"
                     class="team__link"
                     aria-label="Twitter"
                  >
                     <svg>
                        <use xlink:href="@img/sprite.svg#twitter"></use>
                     </svg>
                  </a>
                  <a
                     href="#"
                     target="_blank"
                     class="team__link"
                     aria-label="Facebook"
                  >
                     <svg>
                        <use xlink:href="@img/sprite.svg#facebook"></use>
                     </svg>
                  </a>
               </div>
            </div>
            <div class="team__info">
               <h3 class="team__name">Johnny Lane</h3>
               <p class="team__post">Commercial Manager</p>
            </div>
         </li>
         <li class="team__item">
            <div class="team__top">
               <img
                  class="team__image"
                  src="@img/about/team/person-4.jpg"
                  alt="Alexandr"
               />
               <div class="team__socials">
                  <a
                     href="#"
                     target="_blank"
                     class="team__link"
                     aria-label="Linken in"
                  >
                     <svg>
                        <use xlink:href="@img/sprite.svg#linked"></use>
                     </svg>
                  </a>
                  <a
                     href="#"
                     target="_blank"
                     class="team__link"
                     aria-label="Twitter"
                  >
                     <svg>
                        <use xlink:href="@img/sprite.svg#twitter"></use>
                     </svg>
                  </a>
                  <a
                     href="#"
                     target="_blank"
                     class="team__link"
                     aria-label="Facebook"
                  >
                     <svg>
                        <use xlink:href="@img/sprite.svg#facebook"></use>
                     </svg>
                  </a>
               </div>
            </div>
            <div class="team__info">
               <h3 class="team__name">Diane Mccoy</h3>
               <p class="team__post">Director of Human Resources</p>
            </div>
         </li>
         <li class="team__item">
            <div class="team__top">
               <img
                  class="team__image"
                  src="@img/about/team/person-5.jpg"
                  alt="Alexandr"
               />
               <div class="team__socials">
                  <a
                     href="#"
                     target="_blank"
                     class="team__link"
                     aria-label="Linken in"
                  >
                     <svg>
                        <use xlink:href="@img/sprite.svg#linked"></use>
                     </svg>
                  </a>
                  <a
                     href="#"
                     target="_blank"
                     class="team__link"
                     aria-label="Twitter"
                  >
                     <svg>
                        <use xlink:href="@img/sprite.svg#twitter"></use>
                     </svg>
                  </a>
                  <a
                     href="#"
                     target="_blank"
                     class="team__link"
                     aria-label="Facebook"
                  >
                     <svg>
                        <use xlink:href="@img/sprite.svg#facebook"></use>
                     </svg>
                  </a>
               </div>
            </div>
            <div class="team__info">
               <h3 class="team__name">Judith Warren</h3>
               <p class="team__post">Lead Accountant</p>
            </div>
         </li>
         <li class="team__item">
            <div class="team__top">
               <img
                  class="team__image"
                  src="@img/about/team/person-6.jpg"
                  alt="Alexandr"
               />
               <div class="team__socials">
                  <a
                     href="#"
                     target="_blank"
                     class="team__link"
                     aria-label="Linken in"
                  >
                     <svg>
                        <use xlink:href="@img/sprite.svg#linked"></use>
                     </svg>
                  </a>
                  <a
                     href="#"
                     target="_blank"
                     class="team__link"
                     aria-label="Twitter"
                  >
                     <svg>
                        <use xlink:href="@img/sprite.svg#twitter"></use>
                     </svg>
                  </a>
                  <a
                     href="#"
                     target="_blank"
                     class="team__link"
                     aria-label="Facebook"
                  >
                     <svg>
                        <use xlink:href="@img/sprite.svg#facebook"></use>
                     </svg>
                  </a>
               </div>
            </div>
            <div class="team__info">
               <h3 class="team__name">Floyd Simmmons</h3>
               <p class="team__post">Finacial Director</p>
            </div>
         </li>
         <li class="team__item">
            <div class="team__top">
               <img
                  class="team__image"
                  src="@img/about/team/person-7.jpg"
                  alt="Alexandr"
               />
               <div class="team__socials">
                  <a
                     href="#"
                     target="_blank"
                     class="team__link"
                     aria-label="Linken in"
                  >
                     <svg>
                        <use xlink:href="@img/sprite.svg#linked"></use>
                     </svg>
                  </a>
                  <a
                     href="#"
                     target="_blank"
                     class="team__link"
                     aria-label="Twitter"
                  >
                     <svg>
                        <use xlink:href="@img/sprite.svg#twitter"></use>
                     </svg>
                  </a>
                  <a
                     href="#"
                     target="_blank"
                     class="team__link"
                     aria-label="Facebook"
                  >
                     <svg>
                        <use xlink:href="@img/sprite.svg#facebook"></use>
                     </svg>
                  </a>
               </div>
            </div>
            <div class="team__info">
               <h3 class="team__name">Serenity Edwards</h3>
               <p class="team__post">Director of Marketing</p>
            </div>
         </li>
         <li class="team__item">
            <div class="team__top">
               <img
                  class="team__image"
                  src="@img/about/team/person-8.jpg"
                  alt="Alexandr"
               />
               <div class="team__socials">
                  <a
                     href="#"
                     target="_blank"
                     class="team__link"
                     aria-label="Linken in"
                  >
                     <svg>
                        <use xlink:href="@img/sprite.svg#linked"></use>
                     </svg>
                  </a>
                  <a
                     href="#"
                     target="_blank"
                     class="team__link"
                     aria-label="Twitter"
                  >
                     <svg>
                        <use xlink:href="@img/sprite.svg#twitter"></use>
                     </svg>
                  </a>
                  <a
                     href="#"
                     target="_blank"
                     class="team__link"
                     aria-label="Facebook"
                  >
                     <svg>
                        <use xlink:href="@img/sprite.svg#facebook"></use>
                     </svg>
                  </a>
               </div>
            </div>
            <div class="team__info">
               <h3 class="team__name">Shawn Edwards</h3>
               <p class="team__post">Tech Lead</p>
            </div>
         </li>
      </ul>
      <div class="team__text">
         Become a part of the best team in the construction market of the USA.
         <a href="./positions.html">Available Positions</a>
      </div>
   </div>
</section>
